@media screen and (max-width:480px){
    .suscribase {
        min-width: 77%;
    }
    .contenedorpersonas{
        display: grid;
        grid-template-columns: 1fr 1fr ;
      /*   grid-template-areas: "divjob  divpersonas"; */
        grid-template-areas: 
        "item_personas1  item_personas2"
        "item_personas3 item_personas4"
        "item_personas5  item_personas6"
        "item_personas7 item_personas8";
        grid-template-rows: 210px 210px 210px 210px;
    }

    section.container2 {
        display: none;
    }

    
    .checkbox-label, .radio-label {
    
        padding: 10px 15px;
        border-bottom: 5px solid #3d3876;
        font-size: 16px;
    }
    form.form {
        width: 88%!important;
        margin-left: 5%;
        padding: 15px;
    }
    .divTitulo {
        display: none;
    }
 
    .logo {
        justify-content: center;
        display: grid;
    }
    .heroinicio-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "logo"
     "form"
     "login"
     "footer ";
        
    }
    .form {
        margin-left: 0%;
        margin-top: 15px;
    }
    body{
        width: 100%;
    }
    form.form {
        width: 300px;
    }
    .social span:after {
   
        margin: 0 0px;
  
    }
 
    p.social span{
        display: inline-grid;
   
        justify-content: center;
     
    }
    .enlaces {
        margin: 0px 15%;
    }
    p.info {
        margin: 0px 15%;
    }
    p.terminos {
        font-size: 12px;
    }

    /******************** Back Office *********/

    .suscribase_premium {
    display: none;
    }
    .job {
        display: none;
    }
    .suscribase {
  
        padding: 27px;
 
 
        line-height: 30px;
        width: 60%;
    
    }
    .suscribase a {
 
        width: 70%;
 
    }
/*     .container{
        display: grid;
        grid-template-columns: minmax(auto, 480px);
        justify-content: center;
       
    } */
    /******************** Back Office *********/

    
    section.hero-perfil-container {
        margin-left: 20px;
        margin-right: 20px;
    }
    .hero-perfil{
        grid-template-columns: 160px 1fr;
        grid-template-areas: "imagen-perfil datos-people"
                             "imagen-perfil datos-people-dos"
                             "datosAdicional datosAdicional"
                             "actividad actividad"
                             "conoce conoce"
                             "tambienayudacon tambienayudacon"
                             "seguridadVerificaciones seguridadVerificaciones"
                             "seguridadVerificacionesBloque seguridadVerificacionesBloque"
                             "verificacionesAdicionales verificacionesAdicionales "
                             "datosDerecha datosDerecha";
    }
    .tambienayudaconIconos {
   
        width: 33%;
 
    }
    .seguridadVerificacionesBSection1 {
        width: 32%;
 
    }
    .conoce p {
        text-align: justify;
    }
    .fondo_login {
        padding-top: 0px;
    }
    .fondo_login h2 {
        margin: 16px 0;
    }
    .profile-desc {
        font-size: .8em;
        text-align: justify;
    }
    .busqueda-img {
        display: grid;
        align-items: center;
    }
    .resultados-busqueda-row{
 
        margin: 10px 15px;
    }
    .miPerfil_imagenPremium img {
        width: 80%;
        display: none;
    }
    .miPerfilContainer{
        display: grid;
        grid-template-columns: minmax(auto, 480px);
 
    }
    .contenedorTrabajoServicios-row{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .burger-button {
        display: inline;
    }
    .burger-button img {
        margin: 0;
        padding: 0;
    }


}